azure-ai-documentintelligence
beautifulsoup4>=4.12.3,<4.13
click>=8.1.7,<9
cohere>=5.11.0
cookiecutter>=2.6.0,<2.7
fast_langdetect
fastapi<=0.115.0
gradio>=4.44.1
html2text==2024.2.26
langchain-experimental==0.3.2
langchain==0.3.3
langchain-core==0.3.10
langchain-community>=0.3.2
langchain-openai>=0.2.2
langchain-google-genai>=2.0.1
langchain-anthropic
langchain-cohere>=0.3.0
llama-hub>=0.0.79,<0.1.0
llama-index>=0.11.17
llama-index-vector-stores-chroma>=0.2.0
llama-index-vector-stores-lancedb==0.2.4
llama-index-llms-cohere==0.3.1
llama-index-embeddings-cohere==0.2.1
llama-index==0.11.17
llama-index-core==0.11.17
openai>=1.51.2
openpyxl>=3.1.5,<3.2
opentelemetry-exporter-otlp-proto-grpc>=1.27.0
pandas>=2.2.3
modin[all]==0.32.0
plotly
PyMuPDF>=1.24.11
pypdf>=4.2.0,<=4.3.1
python-decouple
python-docx>=1.1.2,<1.2
python-dotenv>=1.0.1,<1.1
tenacity>=8.2.3,<8.3
theflow>=0.8.6,<0.9.0
trogon>=0.5.0,<=0.6.0
tiktoken<=0.8.0
tokenizers<=0.20.0
anthropic==0.36.0
haystack-ai==2.6.1
lancedb==0.14.0
tantivy==0.22.0
unstructured==0.16.015.14
unstructured-client==0.26.1
faiss-cpu==1.9.0
networkx==3.4.1
python-dotenv==1.0.1
python-magic-bin==0.4.14
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
